body {
    font-family: 'Roboto', sans-serif; /* Change font to Roboto */
    background-color: #f2f2f2; /* Light gray background */
    color: #333; /* Dark text color */
}

.navbar {
    background-color: #212529; /* Dark background for navbar */
}

.container {
    margin-top: 50px;
    margin: 0 auto; /* Center the container horizontally */
    background-color: #fff; /* White container background */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside container */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow effect */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0; /* Increase margin for better spacing */
    padding: 15px; /* Increase padding for better spacing */
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 8px; /* Rounded corners */
    background-color: #f8f9fa; /* Light background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

h1, h3 {
    color: #212529; /* Dark color for headings */
}

a {
    color: #007bff; /* Blue color for links */
}

a:hover {
    color: #0056b3; /* Darker blue color on hover */
}
